#pageTitle {
    text-align: center;
}

.container {
    width: 600px;
    margin-top: 40px;
    text-align: center;

}

#questionsSec {
    font-size: 20px;
    color: royalblue;
    text-align: center;
}

button {
    width: 300px;
    height:30px;
    color:Black;
    background-color: white;
    border:2px solid blue;
    margin: 2px;
}

#start button {
    background-color: black;
    color: white;
    border: 0;
    margin: auto;
    width: 300px;
    height: 30px;
}
li {
    list-style-type: none;
    text-align: center;
    margin : auto;
    margin-top: 20px;
    width: 300px;
    height: 35px;
    background-color: white;
    border:2px solid blue;

}

#promptDiv {
    font-family: cursive;
    font-size: 40px;
    color: gray;
}

ul p {
    text-align: center;
    color: black;
    font-size : 20px;
}
hr {
height: 10px; 
}

#Submit{
    border:1px solid gray;
}